export default {
    'zalando': {
        'name': '',
        'url': ''
    },
    'planetary': '',
    'leadpages': '',
    'activesoft':  '',
    'email': {
        'destination': '',
        'sender': ''
    }
}
