export default {
    'zalando': {
        'name': '[Name redacted]',
        'url': 'https://example.com'
    },
    'planetary': '[Name and email redacted]',
    'leadpages': '[Name and email redacted]',
    'activesoft':  '[Name and email redacted]',
    'email': {
        'destination': '[Email redacted]',
        'sender': 'mailbot@example.com'
    }
}
