{
    "zalando": {
        "name": "",
        "url": ""
    },
    "trello": {
        "name": "",
        "url": ""
    },
    "planetary": {
        "name": "",
        "url": ""
    },
    "leadpages": "",
    "activesoft":  "",
    "email": ""
}
