/* Reset and font config */
html, header, main, aside, footer, ul, ol, li, dl, dt, dd, p, h2, h3 {
    margin: 0;
    padding: 0;
}
body {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    font-weight: 300;
    font-family: Zilla Slab, sans-serif;
    overflow: visible;
}
h2, h3, legend, button { font-weight: 500 }

/* Layout */
header p {
    display: flex;
    align-items: center;
    justify-content: left;
}
header img, header span {
    flex: none;
    max-width: 100%;
}
header img { margin-right: 10px; }
header small {
    display: block;
    padding-bottom: 6px;
}
dd { margin-bottom: 10px }
h3 { margin: 15px 0 5px 0 }

footer {
    page-break-before: always;
    max-width: 600px;
    margin: 0 auto;
}
fieldset { border-radius: 10px }
input, textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}
button {
    padding: 4px;
    margin: 6px 0;
}
.right { float: right }
.night-mode { display: none }


/* Responsive rules */
@media print {
    a, a:active, a:visited {
        color: black;
        text-decoration: none;
    }
    body { padding: 25px 50px }
    form, fieldset {
        margin: 0;
        padding: 0;
        border: none
    }
    footer dt, footer dd, legend { display: none }
    footer dd.visible { display: block }
    .screen { display: none }
}
@media screen {
    a { text-decoration: none }
    a:hover { text-decoration: underline }
    .print { display: none }
    ul.tales { max-width: 400px }
}
@media screen and (min-width: 400px) {
    footer dt {
        float: left;
        clear: left;
        width: 80px;
        margin-right: 20px;
        text-align: right;
    }
    footer dd {
        display: block;
        overflow: hidden;
    }
}
@media print,
@media screen and (min-width: 400px) and (max-width: 699px) {
    section {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
}
@media screen and (min-width: 700px) {
    main { width: 400px; float: left }
    aside { width: 200px; float: right }
    footer { clear: both } 
}


@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-Light.woff2') format('woff2'),
         url('zilla/ZillaSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-LightItalic.woff2') format('woff2'),
         url('zilla/ZillaSlab-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/*@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-Italic.otf');
    font-weight: 400;
    font-style: italic;
}*/

@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-Medium.woff2') format('woff2'),
         url('zilla/ZillaSlab-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-SemiBoldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

/*@font-face {
    font-family: 'Zilla Slab';
    src: url('zilla/ZillaSlab-BoldItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Zilla Slab Highlight';
    src: url('zilla/ZillaSlabHighlight-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab Highlight';
    src: url('zilla/ZillaSlabHighlight-Bold.otf');
    font-weight: 700;
    font-style: normal;
}*/
